.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.background {
    width: 505px;
    height: 920px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F0F4F8;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.content {
    width: 354px;
    height: 848px;
    left: 76px;
    top: 80px;
    position: absolute;
}

.profile {
    width: 316px;
    height: 236px;
    left: 19px;
    top: 0px;
    position: absolute;
}

.profile-info {
    width: 316px;
    height: 100px;
    left: 0px;
    top: 136px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 42px;
    font-family: Direct;
    font-weight: 700;
    word-wrap: break-word;
}

.profile-image-container {
    width: 119.32px;
    height: 117.58px;
    left: 98px;
    top: 0px;
    position: absolute;
}

.profile-image-background {
    width: 119.32px;
    height: 117.58px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #173459;
    border-radius: 40px;
    border: 3px #A4A4A4 solid;
}

.profile-image-overlay {
    width: 93.28px;
    height: 93.28px;
    left: 13.33px;
    top: 11.42px;
    position: absolute;
    opacity: 0.09;
    background: linear-gradient(0deg, #A4A4A4 0%, #A4A4A4 100%);
    border-radius: 35px;
}

.profile-image {
    width: 93.28px;
    height: 93.28px;
    left: 13.33px;
    top: 11.42px;
    position: absolute;
    border-radius: 35px;
}

.menu {
    width: 354px;
    height: 587px;
    left: 0px;
    top: 261px;
    position: absolute;
}

.menu-item {
    width: 354px;
    height: 50px;
    position: absolute;
}

.menu-item-background {
    width: 354px;
    height: 50px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.menu-item-icon {
    position: absolute;
}

.menu-item-text {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Direct;
    font-weight: 700;
    word-wrap: break-word;
}

.menu-item:nth-child(1) .menu-item-icon {
    width: 34px;
    height: 30px;
    left: 28px;
    top: 10px;
}

.menu-item:nth-child(1) .menu-item-text {
    width: 96px;
    height: 7px;
    left: 125px;
    top: 22px;
}

.menu-item:nth-child(2) .menu-item-icon {
    width: 27px;
    height: 27px;
    left: 31px;
    top: 12px;
}

.menu-item:nth-child(2) .menu-item-text {
    width: 206px;
    height: 7px;
    left: 74px;
    top: 25px;
}

.menu-item:nth-child(3) .menu-item-icon {
    width: 37px;
    height: 37px;
    left: 27px;
    top: 5px;
}

.menu-item:nth-child(3) .menu-item-text {
    width: 136px;
    height: 7px;
    left: 105px;
    top: 22px;
}

.menu-item:nth-child(4) .menu-item-icon {
    width: 30px;
    height: 30px;
    left: 31px;
    top: 10px;
}

.menu-item:nth-child(4) .menu-item-text {
    width: 206px;
    height: 7px;
    left: 74px;
    top: 25px;
}

.menu-item:nth-child(5) .menu-item-icon {
    width: 34px;
    height: 34px;
    left: 28px;
    top: 6px;
}

.menu-item:nth-child(5) .menu-item-text {
    width: 51px;
    height: 7px;
    left: 148px;
    top: 22px;
}

.menu-item:nth-child(6) .menu-item-text {
    left: 79px;
    top: 22px;
}

.menu-item:nth-child(7) .menu-item-icon {
    width: 34px;
    height: 31px;
    left: 27px;
    top: 10px;
}

.menu-item:nth-child(7) .menu-item-text {
    width: 62px;
    height: 7px;
    left: 142px;
    top: 22px;
}

.menu-item:nth-child(8) .menu-item-icon {
    width: 34.83px;
    height: 33px;
    left: 27px;
    top: 7px;
}

.menu-item:nth-child(8) .menu-item-text {
    width: 139px;
    height: 7px;
    left: 104px;
    top: 21px;
}

.menu-item:nth-child(9) .menu-item-icon {
    width: 32px;
    height: 32px;
    left: 29px;
    top: 8px;
}

.menu-item:nth-child(9) .menu-item-text {
    width: 154px;
    height: 7px;
    left: 100px;
    top: 22px;
}

.menu-item:nth-child(10) .menu-item-icon {
    width: 34px;
    height: 36px;
    left: 28px;
    top: 5px;
}

.menu-item:nth-child(10) .menu-item-text {
    width: 89px;
    height: 7px;
    left: 129px;
    top: 23px;
}